$font-stack: 'Roboto', sans-serif;

// Background and font colors
$primary-color: #8A2BE2;
$primary-font: #fff;

$secondary-color: #000;
$secondary-font: #fff;

$tertiary-color: #c2f970;
$tertiary-font: #000;

$background-color: #eee;
$font-color: #000;


//Buttons values
$button-border: #555;
$button-color: #fff;
$button-background: #999;
